In [1]:
print('hello')

hello

In [3]:
person = "jose"

In [4]:
print(f"my name is {person}")

my name is jose

In [5]:
d = {'a':123, 'b':456}

In [6]:
print(f"the value of a is {d['a']}")

the value of a is 123

In [7]:
mylist = [0,1,2]

In [8]:
print(f"my number is {mylist[0]}")

my number is 0

In [9]:
print(f"my number is {mylist[1]}")

my number is 1

In [13]:
name = ["jose", "neha", "shivam"]

In [15]:
print(f"my name is {name[2]}")

my name is shivam

In [17]:
print(f"my person is {name[1]}")

my person is neha

In [19]:
collection = [('Author', 'Title', 'pages'), ('Neha', 'Magic', 100), ('Shivam', 'Horror', 150), ('Sunaina', 'Peace', 80)]

In [25]:
for book in collection:
    print(book)

('Author', 'Title', 'pages')
('Neha', 'Magic', 100)
('Shivam', 'Horror', 150)
('Sunaina', 'Peace', 80)

In [27]:
for Title in collection:
    print(Title)

('Author', 'Title', 'pages')
('Neha', 'Magic', 100)
('Shivam', 'Horror', 150)
('Sunaina', 'Peace', 80)

In [28]:
for book in collection:
    print(F"{book[0]}")

Author
Neha
Shivam
Sunaina

In [29]:
for book in collection:
    print(F"Author is {book[0]}")

Author is Author
Author is Neha
Author is Shivam
Author is Sunaina

In [30]:
for Author, Title, pages in collection:
    print(f"{Author:{10}} {Title:{20}} {pages:{20}}")

Author     Title                pages
Neha       Magic                                 100
Shivam     Horror                                150
Sunaina    Peace                                  80

In [31]:
for Author, Title, pages in collection:
    print(f"{Author:{10}} {Title:{20}} {pages:>{20}}")

Author     Title                               pages
Neha       Magic                                 100
Shivam     Horror                                150
Sunaina    Peace                                  80

In [32]:
from datetime import datetime

In [33]:
today = datetime(year=2021,month=10,day=20)

In [34]:
print(f"{today}")

2021-10-20 00:00:00

In [35]:
today

datetime.datetime(2021, 10, 20, 0, 0)

In [36]:
print(f"{today:%B %d, %Y}")

October 20, 2021